<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Elective Recommendation</title>
	<link rel="stylesheet" href="css/home.css">	
	
	<script src="js/jquery.js"></script>
	<script  src="js/angular.js"></script>
	
	<script src="js/login.js"></script>
	<script src="js/home.js"></script>
</head>

<body data-ng-app="homeApp">
	<div>
		<div class="wrapper">
			<div data-ng-controller="HomeController as homeController">
				<div class="textContainer">
					<h1>Enter Subject</h1>
					<div class="nice-wrap">
						<input class="nice-textbox" type="text" data-ng-model="homeController.input" data-ng-change="homeController.autoCompleter()"/>
						<label class="nice-label">Subject</label>
					</div>

					<div class="cards-container">
						<div class="card-wrapper dark-card" data-ng-repeat="item in homeController.selectedCourses track by $index">
							<div class="card-content" data-ng-click="homeController.unselectCourse($event, item)">
								<h3>{{item[0]}}</h3>
							</div>
						</div>
					</div>

					<div class="cards-container">
						
						<div class="card-wrapper" data-ng-repeat="item in homeController.autoCompleteList track by $index" data-ng-if="!item[1]">
							<div class="card-image">
								
							</div>
							<div class="card-content" data-ng-click="homeController.selectCourse($event, item)">
								<h3>{{item[0]}}</h3>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			
			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</div>
	
</body>

</html>
