<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>Elective Recommendation</title>
    
    <link rel="stylesheet" href="/css/recommend.css">	
    
    <script src="/js/jquery.js"></script>
    <script  src="/js/angular.js"></script>
    <script  src="/js/angular-cookies.min.js"></script>
    
    <script src="/js/recommend.js"></script>
</head>
<body data-ng-app="recommendationApp">
    <div id="bg">
        <div class="stars">
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
        </div>
    </div>
    
    <div class="recommendations" data-ng-controller="RecommendationController as recommendationController">
        <div class="container" data-ng-repeat="item in recommendationController.recommendations">
            <div class="text">{{item.Course_name}}</div>
        </div>
    </div>
    
</body>
</html>