<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>Elective Recommendation</title>
    
    <link rel="stylesheet" href="/css/recommend.css">	
    
    <script src="/js/jquery.js"></script>
    <script  src="/js/angular.js"></script>
    <script  src="/js/angular-cookies.min.js"></script>
    
    <script src="/js/recommend.js"></script>
</head>
<body data-ng-app="recommendationApp">
    <div id="bg">
        <div class="stars">
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
            <div class="container">
                <div class="star"></div>
            </div>
        </div>
    </div>

    <div class="logoutBtn" onclick="(function() {window.location.pathname = '/logout';})()">
        LOGOUT
    </div>

    <div class="logoutBtn" onclick="(function() {window.location.pathname = '/home';})()" style="left: 0; right: initial;">
        GO BACK
    </div>
    
    <div class="recommendations" data-ng-controller="RecommendationController as recommendationController">
            <div class="logoutBtn" data-ng-click="recommendationController.clear()" style="left: 0; right: 0; margin: 5px auto;">
                CLEAR
            </div>
        <div class="container" data-ng-repeat="item in recommendationController.recommendations" data-ng-mouseover="recommendationController.enableDescription(item)" data-ng-mouseout="recommendationController.disableDescription()">
            <div class="text">{{item.Course_name}}</div>
        </div>
        <div class="card-description" data-ng-if="recommendationController.descriptionDisplay">
            <h3>Taught By: {{recommendationController.teacher}}</h3>
            <span>{{recommendationController.description}}</span>
            <span style="margin-top: 20px;"><i style="font-weight: bolder; font-size: 115%;">Specialization:</i> {{recommendationController.specialization}}</span>
            <span><i style="font-weight: bolder; font-size: 115%;">Prerequisites:</i> {{recommendationController.prerequisites}}</span>
        </div>
    </div>
    
</body>
</html>